<!DOCTYPE html>
<html>
<head>

<title>About Us</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>

<div class="section">

<h1>Our Story ❤️</h1>

<p>

Adira Craft started with a simple idea in
college.

We are students who wanted to transform
creative ideas into meaningful gifts.

Every product is handmade with love and
created to make your special moments
unforgettable.

</p>

</div>

<footer>
Made with ❤️ by Team Adira Craft
</footer>

</body>
</html>