<table>

<tr>
<th>Name</th>
<th>Phone</th>
<th>Product</th>
</tr>

{% for order in orders %}

<tr>
<td>{{ order[1] }}</td>
<td>{{ order[2] }}</td>
<td>{{ order[4] }}</td>
</tr>

{% endfor %}

</table>
<h2>Contact Messages</h2>

<table border="1">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Message</th>
</tr>

{% for msg in messages %}
<tr>
    <td>{{ msg[0] }}</td>
    <td>{{ msg[1] }}</td>
    <td>{{ msg[2] }}</td>
    <td>{{ msg[3] }}</td>
</tr>
{% endfor %}
</table>