<!DOCTYPE html>

<html>
<head>
    <title>Adira Craft</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav>
    <div class="logo">Adira Craft ✨</div>

```
<div class="menu">
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    
    <div class="hero">
    <img src="{{ url_for('static', filename='images/banner.jpeg') }}"
         alt="Adira Crafts Banner">
</div>
</div>
```

</nav>

<section class="hero">

```
<h1>Crafting Memories, One Gift at a Time ❤️</h1>

<p>
    Built by students, crafted with love,
    and designed to create memories.
</p>

<a href="/products" class="btn">
    Explore Collection
</a>
```

</section>

<section class="about-preview">

```
<h2>Our Story</h2>

<p>
    Adira Craft started as a college dream.
    We wanted to create meaningful gifts
    that bring smiles and unforgettable memories.
</p>
```

</section>

<section class="social">

```
<h2>Connect With Us</h2>

<a href="https://wa.me/8292569931" class="whatsapp-btn">
    Order on WhatsApp
</a>

<a href="https://instagram.com/adira_crafts04"
   class="instagram-btn">
    Follow on Instagram
</a>
```

</section>

<footer>
    © 2026 Adira Craft | Handmade With Love ❤️
</footer>

</body>
</html>
